*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*layout*/

.layout{
   width: 1200px;
   margin: 0 250px 0 250px;
   margin: auto;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

/*button-style*/

.green-button-1{
    padding: 7px;
    background: rgb(118, 209, 26);
    border-radius: 5px;
    border: none;
    color: white;
}

.green-button-2{
    padding: 15px;
    background: rgb(118, 209, 26);
    border-radius: 5px;
    border: none;
    color: white;
}

.blue-button{
    padding: 7px 22px 7px 22px;
    background: rgb(17, 59, 136);
    border-radius: 5px;
    border: 1px solid white;
    color: white;
}

.bg-blu{
    background: rgb(9, 48, 107);
}

/*header*/

header{
    width: 1200px;
    margin: 0 200px 0 200px;
}

/*nav-bar*/

.logo{
    float: left;
}

header{
    padding-top:10px;
}

header ul li{
    list-style: none;
    text-decoration: none;
    float: left;
    padding-left: 15px;
}

header ul{
    float: right;
}

header ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

header ul :nth-child(4){
    padding-right: 180px;
}

/*hero-content*/

.hero{
    height: 350px;
}

.bg-hero{
    background-image: url(background-header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

main section{
    width: 30%;
    padding-top: 80px;
}

/*grey-bar*/

.grey-bar{
    background: rgb(204, 201, 201);
    text-align: center;
    padding:30px 0 30px 0;
    margin: auto;
}

/*article*/

h4{
    color: rgb(127, 206, 127);
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0 20px 0;
}

article{
    padding: 30px 0 30px 0;
}

section img{
    height: 100px;
}

article .left, .center{
    float: left;
    width: 30%;
    text-align: center;
}

article .right{
    float: right;
    width: 30%;
    text-align: center;
}

article .center{
    margin: 0 5% 0 5%;
}

.box-section > p{
    color: grey;
}

/*footer*/

footer{
    padding: 30px 0 30px 0;
}

.footer-sx{
    width: 50%;
    float: left;
}

.footer-dx{
    width: 35%;
    float: left;
}

footer img{
    height: 350px;
}

.footer-dx > *{
    padding-bottom: 15px;
}
.line{
    width: 40px;
    text-align: center;
}

/*nav-bar-footer*/

select{
    border: none;
}

.nav-bar-footer ul li{
    vertical-align: middle;
    float: left;
    list-style: none;
}








